@font-face {
    font-family: 'BentonModDisp-LightItalic';
    src: url('/fonts/BentonModDisp-LightItalic.woff2') format('woff2'),
        url('/fonts/BentonModDisp-LightItalic.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'BentonModDisp-RegularItalic';
    src: url('/fonts/BentonModDisp-RegularItalic.woff2') format('woff2'),
        url('/fonts/BentonModDisp-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

