@use 'sass:color';

html,
body {
	background-color: #12000b;
}

:root {
	@each $name, $theme in getThemes() {
		.theme-#{$name} {
			@each $name, $color in $theme {
				--theme-#{$name}: #{$color};
			}
		}
	}
}

html {
	background-color: #12000b;
	/* Enable font antialiasing for smoother font rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
